body{
  font-family: 'Oswald', Helvetica, sans-serif;
  background: linear-gradient(to right, #3eb3d0, #af73b0);
}
.coolTitle {  
  text-transform: uppercase;
  text-align: center;
  text-shadow: 
    -30px 20px 40px dimgrey;
  color:rgba(0,0,0,0.5);
  font-size: 40px;
}

#first{
  font-size: 20px;
}

li{
  cursor:grab; 
  font-size: 20px;
  color:rgba(0,0,0,0.9);
  text-shadow: 
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}